.author
{
  margin: 50px;
  font-size: 1.5em;
}

#preso, .slide
{
  width: 1920px;
  height: 1200px;
}

.slide .center {
  height: 1200px;
  width: 1920px;
}

div[ref="one/01_slide/4"] p
{
  width: 614px;
  margin: auto;
}

div[ref="one/01_slide/4"] img
{
  float: left;
}
