body, li
{
}

#logo
{
  position: absolute;
  width: 640px;
  top: 70px;
  left: 170px;
}

#repo-url
{
  text-align: center;
  font-size: 3em;
}

.author
{
  padding-top: 50px;
  margin: 50px;
  width: 400px;
  font-size: 2.0em;
}

#langfeld
{
  text-align: right;
}

#contact
{
  font-size: 2.0em;
}

#preso, .slide
{
  font-size: 0.9em;
}

/*
.slide {
  background-image: url('/image/one/adhearsion_logo.png')
  background-repeat: no-repeat;
  position: absolute;
  z-index: 50;
  left: 200px;
  top: 200px;
}
*/

.slide .center {
}

.sh_sourceCode
{
  font-size: 2.5em;
}
